.main-dashboard{

    background-color:white;
}

body{
    background-color: #534d4d;
}
.system_img{
    width: 90%;
  
}
.acrd-btn{
    width: 50px !important;
}
.system-values{
    color: #51504E;
}
// *{
//     border: 1px red solid;
// }