$FontFamily: Poppins, sans-serif;
$baseWidth: 100% ; //formbuilder

// DrawToolPage
$baseColor: #0d99ff;
$blackColor:  #000000;
$whiteColor-primary: #fff;
$whiteColor-secondary: #ffffff;
$whiteColor:#fff;
$orangeColor:  #FFA500;
$greenColor: #2FA511;
$redColor: #FF0000;

//DropZone


//formgenerator

//