$FontFamily: Poppins, sans-serif;
$baseWidth: 100%; //formbuilder
$whiteColor: #fff;
$orangeColor: #ffa500;
$greenColor: #2fa511;
$redColor: #ff0000;

// DrawToolPage
$baseColor: #0d99ff;
$blackColor: #000000;
$blue-black: #3c404326;
$blue-darkBLack: #3c40434d;
$lightGreen: #2e9b71;
$darkBlack-red: #00000005;
$darkBLackRedTwo:#36363678;
$reddishBlack: #00000003;
$greyColor:#6a6c8a;
$whiteGreyColor: #cecece;

//header
$darkOrange:#d2691e;

//sideBar
$darkBlue: #383b61;
$boderWhite: #dee2e640;