@import "../variables";

body {
  padding: 0;
  margin: 0;
  // overflow-y: scroll;
}

.header-mainDiv {
  background-color: $whiteColor;
  height: 70px;
  border: 2px solid $blackColor;
}
.header-title {
  color: $darkOrange;
  padding-left: 50px;
  padding-bottom: 20px;
}
.user-icon {
  width: 34px;
  height: 34px;
}

@media screen and (max-width: 768px) {
  .header-mainDiv {
    height: 50px;
  }
  .ns-logo {
    width: 130px;
    height: 35px;
  }
  .user-icon {
    width: 27px;
    height: 30px;
  }
}
