body {
  padding: 0;
  margin: 0;
  // overflow-y: scroll;
}
.header-mainDiv {
  background-color: #222222;
  height: 61px;
  width: 100%;
  justify-content: space-between;
}
// .logout-btn {
//   margin: 0.85em;
// }
.ns-logo {
  width: 144px;
  height: 37px;
}
.user-icon {
  width: 34px;
  height: 34px;
}

@media screen and (max-width: 768px) {
  .header-mainDiv {
    height: 50px;
  }
  .ns-logo {
    width: 130px;
    height: 35px;
  }
  .user-icon {
    width: 27px;
    height: 30px;
  }
}
